<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VideoCMS</title>
	<link href="lib/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="lib/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="lib/css/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="main">

<div class="container" ng-controller="basicCtrl">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
		  <div class="navbar-header">
		  	<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#site-nav">
		  		<span class="sr-only">Navigation</span>
		  		<span class="icon-bar"></span>
		  		<span class="icon-bar"></span>
		  		<span class="icon-bar"></span>
		  	</button>
		  </div>
		  <div class="collapse navbar-collapse" id="site-nav">
		    <ul class="nav navbar-nav">
		    	<li><a href="#/">Home</a>
		    	<li><a href="#/videos">Videos</a>
		    	<li><a href="#/info">Info</a>
		    	<li><a href="#/kontakt">Kontakt</a>
		    	<li ng-if="!user.isLoggedIn"><a href="#/login">Login</a></li>
		    	<li ng-if="user.isLoggedIn" ng-click="logoutUser()"><a>Logout</a></li>
		    	<li class="dropdown" ng-if="user.isAdmin">
		    		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
		    		<ul class="dropdown-menu">
		    			<li><a href="#/upload">Video hochladen</a></li>
		    			<li><a href="#/settings">Einstellungen ändern</a></li>
		    		</ul>
		    	</li>
		    </ul>
		  </div>
	  </div>
	</nav>
	<div id="main-content" class="container-fluid">
		<div ng-view></div>
	</div>
	<div class="message-area" ng-repeat="note in msg.messages">
		<div ng-class="note.class">
			{{note.text}}
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		</div>
	</div>
	
	<footer id="site-footer">
		<nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="container">
		    	<div class="navbar-text pull-left">
		    		<a href="#/impressum">Impressum</a>
		    	</div>
		    	<div class="navbar-text pull-right">
		    		<a href="#/datenschutz">Datenschutz</a>
		    	</div>
		  </div>
		</nav> 
	</footer>

</div> <!-- /#container -->

<!-- js -->
<script src="https://code.jquery.com/jquery-3.1.0.js" type="text/javascript"></script>
<script src="lib/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="lib/js/main.js" type="text/javascript"></script>
<script src="lib/js/services/getIdService.js" type="text/javascript"></script>
<script src="lib/js/services/getDataService.js" type="text/javascript"></script>
<script src="lib/js/controllers/basicCtrl.js" type="text/javascript"></script>
<script src="lib/js/controllers/userCtrl.js" type="text/javascript"></script>
<script src="lib/js/controllers/videoCtrl.js" type="text/javascript"></script>
<script src="lib/js/controllers/videolistCtrl.js" type="text/javascript"></script>
</body>
</html>